<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:spring-configured/>
    <context:annotation-config/>

    <import resource="classpath:applicationContextHttpClient.xml"/>
    <context:component-scan base-package="org.wv.stepsovc.commcare"/>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">

        <property name="velocityProperties">
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
        </property>
    </bean>

    <bean id="commcareDbInstance" class="org.ektorp.impl.StdCouchDbInstance">
        <constructor-arg>
            <bean id="commcareHttpClient" class="org.ektorp.spring.HttpClientFactoryBean"/>
        </constructor-arg>
    </bean>

    <bean id="commcareDbConnector" class="org.ektorp.impl.StdCouchDbConnector">
        <constructor-arg value="commcarehq"/>
        <constructor-arg ref="commcareDbInstance"/>
    </bean>

</beans>