<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <util:properties id="textMessage" location="classpath:/textMessage.properties"/>
    <import resource="classpath*:applicationBulkImportContext.xml"/>
    <import resource="classpath*:applicationContext-Core.xml"/>

    <context:annotation-config/>
    <context:spring-configured/>
    <context:component-scan base-package="org.wv.stepsovc.tools"/>

    <bean id="seedLoader" class="org.wv.stepsovc.tools.seed.SeedLoader">
        <constructor-arg>
            <list>
                <ref bean="smsMessageContentSeed"/>
                <ref bean="facilityTemporarySeed"/>
                <ref bean="caregiverTemporarySeed"/>
                <!--<ref bean="beneficiaryTemporarySeed"/>-->
            </list>
        </constructor-arg>
    </bean>
</beans>